<%-include('./header.ejs')-%>

 <div style="max-width: 400px; margin: auto; background-color: #ffffff; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.1);">

        <!-- Movie Image -->
        <img src="<%=m.img%>" alt="Movie Image" style="width: 100%; height: auto;">

        <!-- Movie Details -->
        <div style="padding: 15px;">
            <h2 style="margin: 0; color: #333;"><%=m.name%></h2>
            <p style="color: #777; margin: 5px 0 10px 0;">Year: <%=m.year%></p>
            <p style="color: #555; line-height: 1.5;">
                <%=m.desc%>
            </p>
        </div>
        <div class="d-flex justify-content-evenly">
           <form action="/movie/delete/<%=m._id%>?_method=DELETE"  method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
           </form>

            <form action="/movie/edit/<%=m._id%>?_method=PUT"  method="POST">
            <button type="submit" class="btn btn-primary">Edit</button>
           </form>
           

           </div>
        </div>


        <%-include('./footer.ejs')-%>

