
    <%-include('./header.ejs')-%>
    <!-- <h1>hi hello how are you <%= 3+5 %></h1> -->

      <h1>hi hello how are you <%= value %></h1>

      <%= value %>
    <!-- <span>
      <%if(Math.floor(Math.random()*10)%2==0){%>
             <h1>Even</h1>
     <%}else{%>
        <h1>odd</h1>

        <%}%>
      </span> -->


      <!-- <% for(let i=0;i<5; i++ ){%>
          <h1><%= i %></h1>
      <%}%> -->

  <%-include('./footer.ejs')-%>