
     
<%-include('./header.ejs')-%>

     <div class="mt-3 d-flex flex-wrap justify-content-evenly">
        <% for(let movie of allMovies){ %>
             

           <div class="card col-4" style="width: 18rem;">
          <img src=<%=movie.img%> class="card-img-top" alt="...">
           <div class="card-body">


       <h5 class="card-title"><%= movie.name %>
         <span class="ml-5">

           <p class="starability-result" data-rating="<%= movie.reviews.length!==0 ?( Math.floor( movie.reviews.reduce((acc, review) => acc + review.rating, 0)/movie.reviews.length) ): 0 %>" >


          
    
  </p>
  |<span> ratedBy: <%= movie.reviews.length %> </span>
    <!-- <%= movie.reviews.length!==0 ?( Math.floor( movie.reviews.reduce((acc, review) => acc + review.rating, 0)/movie.reviews.length) ): 0 %> -->
      
      
      </span></h5>
       <h6 class="disabled"><%=movie.year%></h6>
      <p class="card-text"><%= movie.desc %></p>

    <a href="/movies/<%=movie._id%>" class="btn btn-primary">view</a>
  </div>
</div>
        <%}%>
     </div>


     <%-include('./footer.ejs')-%>